<html lang="en">
{% extends "template.html" %}

{% block title %}
Login
{% endblock %}

{% block main %}
<div>
    <h4>New Here?</h4>
    <a href='/register'>Register with your NTU mail!</a>
</div>
<form action='/login' method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{form.userlog.label}}
        {{form.userlog()}}
        <br>
        {{form.passwordlog.label}}
        {{form.passwordlog()}}

    </p>
    <p>
        {{form.remember.label}}
        {{form.remember()}}
        {{form.submitlog()}}
    </p>
</form>
{% endblock %}