{% extends "template.html" %}

{% block title %}
Search for notes!
{% endblock %}

{% block main %}
<form method="POST">
    {{ formCourse.hidden_tag() }}
    <p>
        {{formCourse.course.label}}
        {{formCourse.course()}}
        {{formCourse.submit()}}

    </p>
</form>

{% if note_course %}
<form action='/search'>
    <table>
        <thead>
            <tr>
                <th>Course</th>
                <th>Instructor</th>
                <th>Note</th>
            </tr>
        </thead>

        <tbody>
            {% for course in note_course%}
            {% for note in course.notes %}
            <tr>
                <th>{{course.course_name}}</th>
                <th>{{course.instructor}}</th>
                <th><a href="/{{note.id}}">{{note.title}}</a></th>
            </tr>
            {% endfor %}
            {% endfor %}

        </tbody>
    </table>
</form>
{% endif %}

{% endblock %}