{%extends 'template.html'%}

{% block title %}
<h1 class = "CreatePageTitle">New Note</h1>
{% endblock %}

{% block main %}

<div class = "FormContainer">
    <form class="CreateForm" method="POST">
      {{ createForm.hidden_tag() }}
      <p class="AccountInput">
          {{createForm.course_id.label}}
          {{createForm.course_id()}}
          <br>
          {{createForm.course.label}}
          {{createForm.course()}}
          <br>
          {{createForm.title.label}}
          {{createForm.title()}}
          <br>
          {{createForm.notes.label}}
          {{createForm.notes()}}
      </p>
      
      <p>
          {{createForm.submitnote()}}
      </p>
      
  </form>
</div>
{% endblock %}