<!DOCTYPE html>
<html lang="en">

<!--共用要import的東西都放在head裡-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes for NTU:{% block title %}{% endblock %}</title>
</head>

<body>
    <div>
        <nav>

            <!--navbar(交給你了)-->
            {% if current_user.is_anonymous %}
            <!--沒有登入的navbar-->
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
            {% else %}
            <!--有登入的navbar-->
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/user/{{current_user.name}}">Notelist</a></li>
                <li><a href="/newnote/{{current_user.name}}">New Note</a></li>
                <li><a href="https://nol.ntu.edu.tw/nol/guest/index.php" target="_blank">NTU Course</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            {% endif %}
        </nav>

    </div>

    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        <p>© 2021 NTU</p>
        <p>Created by Max Huang & Jenny Lin</p>
    </footer>
</body>

</html>